body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AppContainer {
  overflow: auto;
  white-space: nowrap;
}

.CardContainer {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px;
}

.CardContainer > *{
  margin: 5px 5px;
}

.cardWrap {
  width: 320px;
  height: 150px;
}

.noneSelectedCard {
  width: 320px;
  height: 150px;
  /* margin: 10px 10px 10px 10px; */
  border: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.noneSelectedCard:hover {
  border: 4px solid yellow;
}

.selectedCard {
  width: 320px;
  height: 150px;
  /* margin: 5px 5px 5px 5px; */
  border: 2px solid grey;
  background-color: rgba(228, 225, 225, 0.849);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.selectedCard:hover {
  border: 4px solid yellow;
}

svg {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin:3px 3px 3px 3px;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align:center;
}

h1 {
  margin:0 auto;
}

.paragraph {
  width: 70%;
  margin: 30px auto;
}